@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Zen+Tokyo+Zoo&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

body{
    font-family: montserrat;
    background: #d1d5db;
}

header{
    position: relative;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #403e3d ;
}

header img{
    width: 150px;
}

h1{
    color: #413b3b;
    font-family: zen tokyo zoo;
    font-weight: 400;
    font-size: 3em;
    letter-spacing: .3em;
    text-transform: uppercase;
}

main{

    padding: 5em;
}

.display{
    display: grid;
    gap: 2em;
}

.bookDisplay{
    max-width: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    padding: 1em;
    border: 1px solid black ;
    border-radius: 8px;
    box-shadow: 14px 14px 0 -4px #fff, 14px 14px 0 0 black;
    transition: all 0.5s ease-out;
}

.bookDisplay:hover{
    transform: scale(1.1);
 
    box-shadow: 0 5px 5px 2px rgb(82, 82, 82, .4);
    transition: 0.4s ease;
}

#closeBtn{
    text-transform: uppercase;
}

/*Pop-up form*/
.box{
    text-align: center;
}

.button{
    background: #403e3d;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.hidden:target{
    visibility: visible;
    opacity: 1;
}

.wrapper{
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.wrapper h2{
    margin-top: 0;
    color: #333;
}

.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: all 200ms;
}

.wrapper .content{
    overflow: auto;
}

/*Form design*/
.container{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}

form label{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

input[type=text]{
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 1.2em;
    resize: vertical;
}

input[type=number]{
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 1.2em;
    resize: vertical;
}

input[type=submit]{
    width: 100%;
    background-color: #413b3b;
    color: #fff;
    margin-top: 2em;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.footer a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}